{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.nomSpecialite) }}
        {{ form_row(form.medecins) }}
        {{ form_row(form.services) }}
        <button type="submit" class="btn btn-secondary">Enrégistrer</button>
    {{ form_end(form) }}
{% endblock  %}