{% extends 'base.html.twig' %}

{% block title %}Liste des specialites{% endblock %}

{% block body %}
 
  <div class="mx-auto" style="width: 700px;">
    <div class="starter-template">
      <div class="card border-secondary mb-3" style="text-align: center;" style="max-width: 100rem;">
          <div class="card-header" style="font-size: 2em;"> 
            Liste des specialites  <span style="float:right"><a href="{{path('add.specialite')}}"  class="btn btn-success">Ajouter</a></span></div>
            <div class="card-body">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Idenfiant</th>
                      <th scope="col">Nom du specialite</th>
                      <th scope="col">Service</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                      {% for specialites in specialite %}
                      <tr>
                          <td>{{ specialites.id }}</td>
                          <td> {{ specialites.nomSpecialite }} </td>
                          <td> {{ specialites.services }} </td>
                          <td>  <a href="{{ path('edit.specialite', { 'id': specialites.id }) }} " class="btn btn-success">Modifier</a> 
                            <a href=" {{ path('delete.specialite', { 'id': specialites.id }) }} "  class="btn btn-secondary"  onclick="return confirm('Etes vous sure de vouloir supprimer cet enrégistrement ?');">Supprimer </a>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  
                </table> 
              </div>
            </div>
          </div>
        </div> 
  </div>  

{% endblock %}
